<div class="question edit">
	<h1>Editar questão</h1>

	<%= render 'form' %>
	<div class="topics">
		<h3> Tópicos </h3>
		<% (@question.skills).each do |skill| %>
	    <span class="skill"><%= Skill.find(skill.id).name %></span>
	  <% end -%>
	</div>

	<%= link_to 'Mostrar', @question %> |
	<%= link_to 'Voltar', questions_path %>
</div>
