<div class="publication-edit">
	<h1>Editar Publicação</h1>

	<%= render 'form' %>
	<div class="topics">
		<h3> Tópicos </h3>
		<% (@publication.skills).each do |skill| %>
	    <span class="skill"><%= Skill.find(skill.id).name %></span>
	  <% end -%>
	</div>
	<br>
	<br>
	<%= link_to 'Mostrar', @publication %> |
	<%= link_to 'Voltar', publications_path %>
</div>
