<div class="publication-add">
	<h1>New publication</h1>

	<%= render 'form' %>
    <div class="skills">
         <h3>Adicionar Skills</h3>
     <% for skill in Skill.all %>
        <span>
          <%= check_box_tag "publication[skill_ids][]", skill.id, @publication.skills.include?(skill) %>
          <%= skill.name %>
        </span>
        <% end %>
    </div>

	<%= link_to 'Back', publications_path %>
</div>
