<div class="publication-add">
	<h1>New publication</h1>

	<%= render 'form' %>
	<div class="field">
        <% for skill in Skill.all %>
            <div>
                <%= check_box_tag "publication[skill_ids][]", skill.id, @publication.skills.include?(skill) %>
                <%= skill.name %>
            </div>
        <% end %>
    </div>

	<%= link_to 'Back', publications_path %>
</div>
