<!DOCTYPE html>
<html>
<head>
  <title>RG</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header-wrapper">
		<ul id="header">
			<li><img id="logo" src="/assets/ResearchGate_Logo.png" alt="ResearchGate_Logo" style="width:178px;height:50px"></li>
			<li><a href="/"><img id="home" src="/assets/home.png" alt="ResearchGate_Home" style="width:20px;height:20px"></a></li>
			<li id="qea" ><a>Q&amp;A</a></li>
			<li id="publications" ><a>Publications</a></li>
			<li id="jobs" ><a>Jobs</a></li>
			<li id="user"><a><img  src="/assets/user.png" alt="AutentificatedUser" style="width:40px; height:40px"></a></li>
		</ul>
	</div>
	<div class="content">
		<%= yield %>
	</div>

</body>
</html>
